<div class="navigation-header" align="center">
  <div class="menu menu-left">
    <%= link_to '', :back, class: "ionicons ion-ios-arrow-back" %>
  </div>
  <h1><%= @course.name %></h1>
</div>

<div class="details">
  <div class="detail-information">
    <dl class="dl-horizontal">
      <dt>강의 이름</dt>
      <dd><%= @course.name %></dd>

      <dt>강의 개설자</dt>
      <dd><%= User.find(@course.manager_id).name %></dd>
      
      <dt>강의 시작일</dt>
      <dd><%= @course.created_at.strftime("%Y년 %m월 %d일") %></dd>

      <dt>링크</dt>
      <dd><%= @course.short_link %></dd>
    </dl>

    <%= image_tag("course_icons/#{@course.icon_id}.png", :class => "img-circle index-img ") %>
  </div>

  <div class="participant-list">
    <% @course.users.each do |user| %>
      <div class="participant">
        <%= link_to user_path(user), class: "participant-link" do%>
          <div class="img-circle">
            <% if f = user.faces.first %>
              <%= image_tag f.attachment_url, :class => "img-circle img-responsive"%>
            <% end %>
          </div>
        <div class="text-center">
          <%= user.name %>
        </div>
        <% end %>
      </div>
    <% end %>
  </div>
</div>
