<div class="navigation-header" align="center">
  <h3><%= @course.name %></h3>
  <div class="menu menu-left">
    <%= link_to '', course_path(@course.id), class: "ionicons ion-ios-arrow-left" %>
  </div>
</div>

<div class="details">
  <div class="detail-information">
    <dl class="dl-horizontal">
      <dt>강의 이름</dt>
      <dd><%= @course.name %></dd>

      <dt>강의 개설자</dt>
      <dd><%= User.find(@course.manager_id).name %></dd>
      
      <dt>강의 시작일</dt>
      <dd><%= @course.created_at.strftime("%Y년 %m월 %d일") %></dd>
    </dl>

    <%= image_tag("images.png", :class => "img-circle index-img img-thumbnail") %>
  </div>

  <div class="participant-list">
    <% @course.users.each do |user| %>
      <div class="participant">
        <%= link_to user_path(user), class: "participant-link" do%>
        <%= image_tag user.faces.first.attachment_url, :class => "img-circle img-responsive"%>
        <div class="text-center">
          <%= user.name %>
        </div>
        <% end %>
      </div>
    <% end %>
  </div>
</div>
