<!-- Modal -->
<%= form_for([@course, @course.posts.build], html: {id: "post-form"}) do |f| %>
	<div class="modal fade" id="modal-post" tabindex="-1" role="dialog" aria-labelledby="new-post-label">
		<div class="modal-dialog" role="document">
			<div class="modal-content">
				<div class="modal-header">
					<h4 class="modal-title" id="new-post-label">새로운 출석</h4>
					<button type="button" class="close" data-dismiss="modal" aria-label="Close">
						<p class="ionicons ion-ios-close-empty"></p>
					</button>
					<%= f.submit "등록", :class => "btn btn-primary", :id => "submit" %>
				</div>
				
				<div class="modal-body">
					<img id="attachment-thumbnail" src="">
				  <div class="form-group">
						<p class="ionicons ion-ios-calendar-outline"></p>
		      	<%= f.label :created_at %>
						<%= f.date_select :created_at, class: "form-control" %>
					</div>

					<div class="form-group">
						<p class="ionicons ion-ios-camera-outline"></p>
						<%= f.label :attachment %>
						<%= f.file_field :attachment, class: "form-control"  %>
					</div>

					<div class="form-group">
						<p class="ionicons ion-ios-paper-outline"></p>
						<%= f.label :content %>
						<%= f.text_area :content, class: "form-control" %>
					</div>
				</div>
			</div>
		</div>
	</div>
<% end %>

