<!-- Modal -->
<%= form_for([@course, @course.posts.build], html: {id: "post-form"}) do |f| %>
	<div class="modal fade" id="modal-post" tabindex="-1" role="dialog" aria-labelledby="new-post-label">
		<div class="modal-dialog" role="document">
			<div class="modal-content">
				<div class="modal-header">
					<h4 class="modal-title" id="new-post-label">새로운 출석</h4>
					<button type="button" class="close" data-dismiss="modal" aria-label="Close">
						<p class="ionicons ion-ios-close-empty"></p>
					</button>
				</div>
				
				<div class="modal-body">
          <div class="input-date">
            <img id="attachment-thumbnail">
		        <h4 class="ionicons ion-ios-calendar-outline"> 날짜</h4>

          <div class="date-button">
            <%= f.date_field :taken_at, :class => "form-control" %>
          </div>

					<div class="input-image">
						<h4 class="ionicons ion-ios-camera-outline"> 사진</h4>
						<div class="attachment-input">
						  <input class="attachment-label" value="사진 선택" disabled="disabled" >
						  <label for="post_attachment">업로드</label>
							<%= f.file_field :attachment, class: "form-control"  %> 
						</div>
					</div>

          <div class="input-contents">
            <h4 class="ionicons ion-ios-paper-outline"> 내용</h4>
              <%= f.text_area :content, class: "form-control" %>
          </div>

          <div class="modal-submit">
            <%= f.submit "등록", :class => "btn btn-primary btn-bottom btn-block", :id => "submit", :disabled => "disabled", data: { disable_with: "잠시만 기다려주세요." } %>
          </div>

          
        </div>
      </div>
		</div>
	</div>
<% end %>
