<div class="navigation-header" align="center">
  <div class="menu menu-left box-shadow">
    <%= link_to '', user_path(current_user.id), class: "ionicons ion-ios-more"%>
  </div>
  <h1>나의 강의목록</h1>
  <div class="menu menu-right box-shadow">
    <%= link_to '', new_course_path, class: "ionicons ion-compose"%>
  </div>
</div>

<div class="course-list">
  <% @courses.each_with_index do |course, index| %>
    <div class="col-md-4 course-div link">
      <%= link_to course_path(course) do %>
        <%= image_tag("course_icons/#{course.icon_id}.png", :class => "img-circle index-img img-thumbnail") %>

          <p class="course-name link"><%= course.name %></p>
      <% end %>

      <% if (index) % 3 == 2  %>
      <% end %>
    </div>
  <% end %>
</div>