<div class="navigation-header" align="center">
  <h3>나의 강의목록</h3>
  <div id="right-menu">
    <%= link_to '', new_course_path, class: "btn btn-primary glyphicon glyphicon-plus" %>
  </div>
</div>

<% if flash[:notice] %>
  <div class="alert alert-success">
    <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
    <strong>Success!</strong> <%= flash[:notice] %>
  </div>
<% end %>

<% @courses.each_with_index do |course, index| %>
  <% if (index) % 3 == 0  %>   
    <div class="row course-row"></div>
  <% end %>

  <div class="col-md-4 course-div link">
    <%= link_to course_path(course) do %>
      <%= image_tag("images.png", :class => "img-circle index-img img-thumbnail") %>
        <p class="course-name link"><strong><%= course.name %></strong></p>
    <% end %>

    <% if (index) % 3 == 2  %>
    <% end %>
  </div>
<% end %>