<script type="text/javascript">
	$(document).ready(function() {
		$('#btn-new-post').click(function(e) {
			var id = $(this).data('id');
			if(id)  {
				$.ajax('/courses/' + id).success(function(html) {
					$('#modalContainer').html(html);	
					$('#myModal').modal('show')
				});
			}
		});
	});
</script>

	<!--
		name
		short_link
		manager_id
		created_at
		updated_at
	-->

<%= form_for(@course) do |f| %>
	<div id="course-title">
  	<div class="text-center">
  		<h3>
				<%= @course.name %>
  		</h3>
	  </div>
	</div>
	<div class="form-group" id="course-info">
		<div class="text-right" id="course-link">
			<a href=<%= @course.short_link %>><%= @course.short_link %></a>
		</div>
		<div class="text-left">
			<%= f.label :manager_id %>
			<%= @course.manager_id %>
		</div>
	</div>

	
	<%= render "modal" %>

	<div class="menu new-post">
		<a class="btn btn-primary btn-block btn-lg" id="btn-new-post" data-id="<%= @course.id %>" href="#">새로운 출석</a>
	</div>
<% end %>
