<div class="navigation-header" align="center">
  <div class="navigation-content">
    <div class="menu menu-left">
      <%= link_to '', courses_path, class: "ionicons ion-ios-arrow-back" %>
    </div>
    <div class="menu menu-right">
      <%= link_to '', detail_path(@course), class: "ionicons ion-information-circled" %>
    </div>
    <h1>
      <%= @course.name %>
    </h1>
  </div>
</div>

<% if current_user.id == @course.manager_id %>
  <div class="pop">
    <div class="pop-right-bottom pop-circle" id="new-post">
      <p class="ionicons ion-edit" data-id="<%= @course.id %>">
      </p>
    </div>
  </div>
<% end %>

<% if @course.posts.blank? %>
  <div class="no-post">
    <% if not current_user.manager?(@course) %>
      <div class="no-photo" data-id="<%= @course.id %>">
        <p class="ionicons ion-ios-camera"></p>
        <div class="text-center">
          여기를 눌러 첫번째 출석 사진을 올려보세요!  
        </div>

        <div class="course-shortlink">
          <p> <%= @course_link %></p>
          이 링크를 통에 강의에 참여할 수 있습니다! 
        </div>
      </div>
    <% else %>
      <p class="ionicons ion-ios-camera"></p>
      <div class="no-photo-center">
        <h4>아직 출석사진이 올라오지 않았어요.</h4>
        <small>관리자가 출석 사진을 올릴 수 있습니다.</small>
      </div>
    <% end %>
  </div>

<% else %>
  <div class="posts">
    <% @course.posts.latest.each do |post| %>
      <div class="post" id="post-<%= post.id %>">
        <% post.photos.each do |photo| %>
          <div class="post-photo" id="photo-<%= photo.id %>">
            <div class="show-image panel-body">
              <a class="photo-detail-link" href="/courses/<%= @course.id %>/posts/<%= post.id %>" data-course-id="<%= @course.id %>"  data-post-id="<%= post.id %>" data-photo-id="<%= photo.id %>">
                <img class="photo" src="<%= photo.attachment.thumbnail.url.gsub('/upload/', '/upload/w_64/') %>">
              </a>

              <div class="time-right taggednot">
                <% if @current_user.tagged?(photo)%>
                  <i class="ionicons ion-ios-checkmark-empty" aria-hidden="true"></i>
                <% else %>
                  <i class="ionicons ion-ios-close-empty" aria-hidden="true"></i>
                <% end %>
                <%= post.taken_at.strftime("%Y년 %m월 %d일") %>
              </div>
            </div>
          </div>
        <% end %>

        <div class="photo-info">
          <div class="attendance-info">
            <p class="ionicons ion-ios-at-outline"></p>
            <p class="attend">
              <% attendance = post.attendance %>
              <% if attendance.count > 0 %>
                <%= attendance.first.name %>
                <% if attendance.count > 1%>
                  외 <%= attendance.count - 1 %>명
                <% end %>
              <% else %>
                아무도 출석하지 않았습니다.
              <% end %>
            </p>
          </div>
          <div class="comment-info">
            <p class="comment">
              <%= post.comments.count %>
            </p>
            <p class="ionicons ion-ios-chatbubble-outline"></p>
          </div>
        </div>

        <div class="content">
          <%= post.content %>
        </div>
      </div>
    <% end %>
  </div>
<% end %>

<%= render "modal" %>


<script>
  $(function(){
    fit_photo_list_height();
  });
</script>
