<script type="text/javascript">
	$(document).ready(function() {
		$('#btn-new-post').click(function(e) {
			var id = $(this).data('id');
			if (id) {
				$.ajax('/courses/' + id).success(function(html) {
					$('#modal-post').modal('show')
				});
			}
		});

		$('.photo-detail-link').click(function(e) {
			var cid = $(this).data('course-id');
			var pid = $(this).data('post-id');
			var qid = $(this).data('photo-id');

			if (cid && pid && qid) {
				$.ajax('/courses/' + cid + '/posts/' + pid + '/photos/' + qid).success(function(html) {
					var src = html.photo.url;
					var date = html.date.slice(0, 10);

					document.getElementById("popup-photo").setAttribute("src", src);
					$('#modal-photo').modal('show');
				});
			}
		});
	});
</script>
	<!--
		name
		short_link
		manager_id
		created_at
		updated_at
	-->
<div id="course-title">
	<div class="text-center">
		<h3>
			<%= @course.name %>
		</h3>
  </div>
</div>
<div class="form-group" id="course-info">
</div>

<div class="form-group" id="course-body">
	<% @course.posts.order(:created_at => :desc).each do |post| %>
		<div class="post">
			<% post.photos.each do | photo | %>
				<a class="photo-detail-link" data-course-id="<%= @course.id %>"  data-post-id="<%= post.id %>" data-photo-id="<%= photo.id %>">
					<img class="photo" src="<%= photo.attachment %>">
				</a>
			<% end %>

			<div class="published-at">
				<p><%= post.created_at.strftime("%Y-%m-%d") %></p>
			</div>
		</div>
	<% end %>
</div>	

<%= render "modal" %>
<%= render "popup" %>

	<a class="btn btn-primary btn-block btn-lg" id="btn-new-post" data-id="<%= @course.id %>" href="#">새로운 출석</a>

<div class="menu new-post">
</div>
