<script type="text/javascript">
	$(document).ready(function() {
		$('#btn-new-post').click(function(e) {
			var id = $(this).data('id');
			if(id)  {
				$.ajax('/courses/' + id).success(function(html) {
					$('#modalContainer').html(html);	
					$('#myModal').modal('show')
				});
			}
		});
	});
</script>
	<!--
		name
		short_link
		manager_id
		created_at
		updated_at
	-->
<%= form_for(@course) do |f| %>
	<div id="course-title">
  	<div class="text-center">
  		<h3>
				<%= @course.name %>
  		</h3>
	  </div>
	</div>
	<div class="form-group" id="course-info">
		<div class="text-right" id="course-link">
			<a href=<%= @course.short_link %>><%= @course.short_link %></a>
		</div>
		<div class="text-left">
			<%= f.label :manager_id %>
			<%= @course.manager_id %>
		</div>
	</div>

	<div class="form-group" id="course-body">
		<% @course.posts.each do | post | %>
			<div class="post">
				<div class="info">
					<div class="content">
						<%= post.content %>
					</div>
					<div class="date">
						<%= post.created_at %>
					</div>
				</div>
				<div class="post">
					<% post.photos.each do | photo | %>
						<div class="image">
							<div class="content">
								<h5>
									<%= photo.id %>
								</h5>
							</div>
							image here
						</div>
					<% end %>
				</div>
			</div>
		<% end %>
	</div>	

	<%= render "modal" %>

	<div class="menu new-post">
		<a class="btn btn-primary btn-block btn-lg" id="btn-new-post" data-id="<%= @course.id %>" href="#">새로운 출석</a>
	</div>
<% end %>
