<script language="javascript">
	var userAgent = window.navigator.userAgent.toLowerCase(),
	ios = /iphone|ipod|ipad/.test( userAgent );

  function join() {
		var appstore_url = "http://naver.com";
		var play_url = "http://naver.com";

		if(ios) {
			//window.location = appstore_url;
			var url = "deepcheck://join?course_id=<%= @course.id %>";
			window.location = url;
		} else {
			var url = "deepcheck://join?course_id=<%= @course.id %>";
			window.location = url;

			setTimeout(function() {
				if(ios) {
					window.location = play_url;
				}
			}, 25);
		}
  }

	setTimeout(function() {
		if(ios) {
			var url = "deepcheck://join?course_id=<%= @course.id %>";
			window.location = url;
		}
	}, 25);
</script>

<style type="text/css">
  #info {
    position: fixed;
    top: 50%;
    left: 50%;
  }
  #course {
    width: 200px;
    display: block;
    margin: 0 auto;
    margin-top: -160px;
    margin-left: -90px;
    float: none !important;
    text-align: center;
  }
  #course img {
    width: 180px;
  }

  .course-title {
    text-align: center;
    font-size: 20px;
    margin-top: 10px;
  }

  .course-name {
    font-size: 17px;
  }
</style>

<div id="info">
  <div id="course" class="course-div">
    <%= image_tag("course_icons/#{@course.icon_id}.png", :class => "img-circle index-img img-thumbnail") %>
    <div class="course course-title link">
      <strong>
        강의명
        <p class="course-name"><%= @course.name %></p>
      </strong>
    </div>
  </div>
</div>

<div>
  <a id="btn-new-post" class="btn btn-primary btn-block btn-lg" onclick="join()" data-disable-with="잠시만 기다려주세요.">Deepcheck 앱으로 이동</a>
</div>
