<div class="navigation-header" align="center">
  <div id="left-menu">
    <%= link_to '', course_path(@course), class: "btn-left btn-primary glyphicon glyphicon-triangle-left" %>
  </div>
  <h3><%= @course_name %></h3>
</div>

<div class="photos">
  <% @post.photos.each do | photo | %>
    <img class="photo" src="<%= photo.attachment %>" />
    <div class="face-grid" data-photo-id="<%= photo.id %>"></div>

    <div class="users">
      <div class="form-group">
        <label class="col-sm-2 control-label">Tags</label>
        <% photo.users.each do | user | %>
          <div class="user">
            <%= user %>
          </div>
        <% end %>
      </div>
    </div>
  <% end %>
</div>