<div class="navigation-header" align="center">
  <div id="left-menu">
    <%= link_to '', course_path(@course), class: "btn-left btn-primary glyphicon glyphicon-triangle-left" %>
  </div>
  <h3><%= @course_name %></h3>
</div>

<div class="photos">
  <% @post.photos.each do | photo | %>
    <img class="photo" src="<%= photo.attachment %>" />
    <div class="face-grid" data-photo-id="<%= photo.id %>"></div>

    <div class="attendance">
      <label class="col-sm-2 control-label">Attendance</label>
      <div class="tags">
        <% ['배지운','김슬아','김택민','강성희'].each do | user | %>
          <div class="tag">
            <%= user %>
          </div>
        <% end %>
      </div>
    </div>
  <% end %>
</div>