<div class="navigation-header" align="center">
  <div class="menu menu-left">
    <%= link_to '', :back, class: "ionicons ion-ios-arrow-back" %>
  </div>
  <h1><%= @post_title %></h1>
</div>

<div class="photos" data-user-id="<%= current_user.id %>">
  <% @post.photos.each do |photo| %>
<<<<<<< HEAD

    <%= raise @post.inspect %>

    <div class="photo">
=======
    <div class="photo" id="photo-<%= photo.id %>" data-photo-id="<%= photo.id %>">
>>>>>>> 6b2ed2800d156bf3c74bca37dc3ece4921269ad6
      <%= image_tag photo.attachment.url, class: 'photo-attachment' %>
    </div>

    <div class="tags">
    </div>
  <% end %>

  <div class="content">
    <%= simple_format(@post.content) %>
  </div>

  <div class="comments">
    <% @post.comments.each do |comment| %>
      <p>
        <strong><%= comment.user.name %></strong>
        <span><%= comment.content %></span>
        <small class="time"><%= time_ago_in_words(comment.created_at) %></small>

        <% if current_user.id == comment.user_id %>
          <%= link_to ' ', [comment.post.course, comment.post, comment], class: "ionicons ion-ios-close-empty", method: :delete, data: { confirm: '댓글을 삭제하시겠습니까?'} %>
        <% end %>
      </p>
    <% end %>
  </div>

  <div class="background-comment">
  <div class="group">
    <%= form_for([@course, @post, @post.comments.build]) do |f| %>
      <%= f.text_field :content, class: "form-control", placeholder: '댓글을 입력해 주세요' %>
      <%= f.submit '등록', class: "btn btn-primary btn-bottom"%>
    <% end %>
  </div>
</div>