<div class="navigation-header" align="center">
  <div id="left-menu">
    <%= link_to '', course_path(@course), class: "btn-left btn-primary glyphicon glyphicon-triangle-left" %>
  </div>
  <h3><%= @course_name %></h3>
</div>

<div class="photos">
  <% @post.photos.each do |photo| %>
    
    <img class="photo" src="<%= photo.attachment %>" />
    <% photo.tagged_users.each do |user| %>
      <div class="face-grid" data-photo-id="<%= photo.id %>" id="grid-<%= user.user_id %>" data-x="<%= user.x %>" data-y="<%= user.y %>"></div>
      <h5 class="face-grid-date" id="grid-<%= user.user_id %>-date"><%= user.created_at.to_date.strftime("%d/%m") %></h5>
    <% end %>
    <div class="face-select" data-photo-id="<%= photo.id %>" data-user-id="<%= @current_user.id %>"></div>


    <div class="attendance">
      <label class="col-sm-2 control-label">Attendance</label>
      <div class="tags">
        <% photo.users.each do |user| %>
          <div class="tag" onmouseenter="tagover(<%= user.id %>)" onmouseleave="tagleave(<%= user.id %>)">
            <%= user.name %>
          </div>
        <% end %>
      </div>
    </div>
  <% end %>
</div>