<div class="navigation-header" align="center">
  <div id="left-menu">
    <%= link_to '', course_path(@course), class: "btn-left btn-primary glyphicon glyphicon-triangle-left" %>
  </div>
  <h3><%= @course_name %></h3>
</div>

<div class="photos">
  <% @post.photos.each do |photo| %>
    
    <img class="photo" src="<%= photo.attachment %>" />
    <% photo.tagged_users.each do |user| %>
      <div class="face-grid" data-photo-id="<%= photo.id %>" id="grid-<%= user.user_id %>" data-x="<%= user.x %>" data-y="<%= user.y %>"></div>
    <% end %>
    <div class="face-select" data-photo-id="<%= photo.id %>" data-user-id="<%= @current_user.id %>"></div>

    <div class="attendance">
      <div class="attendance-label">
        <h3>Attendance
          <% if @current_user.attendence?(Photo.find(photo.id)) %>
            <small><a class="attendance-cancel" data-photo-id="<%= photo.id %>" data-user-id="<%= @current_user.id %>">Cancel</a></small>
          <% end %>
        </h3>
      </div>
      <div class="tags">
        <% photo.users.each do |user| %>
          <div class="tag" onmouseenter="tagover(<%= user.id %>)" onmouseleave="tagleave(<%= user.id %>)">
            <%= user.name %>
            <% if @current_user.manager?(@course) %>
              <a class="tag-cancel" data-photo-id="<%= photo.id %>" data-user-id="<%= user.id %>"class="tag-delete">X</a>
            <% end %>
          </div>
        <% end %>
      </div>
    </div>
  <% end %>
</div>