<div class="navigation-header" align="center">
  <div id="left-menu">
    <%= link_to '', course_path(@course), class: "btn-left btn-primary glyphicon glyphicon-triangle-left" %>
  </div>
  <h3><%= @course_name %></h3>
</div>

<div class="photos">
  <% @post.photos.each do |photo| %>
    <img class="photo" src="<%= photo.attachment %>" />
    <% photo.tagged_users.each do |tagged_user| %>
      <div class="face-grid" data-photo-id="<%= photo.id %>" id="grid-<%= tagged_user.user_id %>" data-x="<%= tagged_user.x %>" data-y="<%= tagged_user.y %>"></div>
      <h5 class="face-grid-date" id="grid-<%= tagged_user.user_id %>-date"><%= tagged_user.user.name %></h5>
    <% end %>
    <div class="face-select" data-photo-id="<%= photo.id %>" data-user-id="<%= @current_user.id %>"></div>

    <div class="attendance">
<<<<<<< HEAD
      <div class="attendance-label">
        <h3>Attendance
          <% if @current_user.attendence?(photo) %>
            <small><a class="attendance-cancel" data-photo-id="<%= photo.id %>" data-user-id="<%= @current_user.id %>">Cancel</a></small>
          <% end %>
        </h3>
      </div>
=======
      <label class="col-sm-2 control-label"><span class="glyphicon glyphicon-user"></span> Attendance
      </label>
>>>>>>> comment
      <div class="tags">
        <% photo.users.each do |user| %>
          <div class="tag" onmouseenter="tagover(<%= user.id %>)" onmouseleave="tagleave(<%= user.id %>)">
            <%= user.name %>
            <% if @current_user.manager?(@course) %>
              <a class="tag-cancel" data-photo-id="<%= photo.id %>" data-user-id="<%= user.id %>"class="tag-delete">X</a>
            <% end %>
          </div>
        <% end %>
      </div>
    </div>
  <% end %>

  <div class="progress">
    <div class="progress-bar progress-bar-striped active" role="progressbar" aria-valuenow="45" aria-valuemin="0" aria-valuemax="100" style="width: 83%">
    83%  
    </div>
  </div>

  <div class="comments">
    <label class="col-sm-2 control-label">Comments</label>
    <div class="content">
      <% @post.comments.each do |comment| %>
        <p>
          <strong>김철수</strong>
          <span><%= comment.content %></span>
          <small class="time"><%= time_ago_in_words(comment.created_at) %> 
          <%= link_to ' ', [comment.post.course, comment.post, comment], class: "ionicons ion-close", method: :delete, data: { confirm: '댓글을 삭제하시겠습니까?'} %>
          </small>
        </p>
      <% end %>
    </div>
  </div>
</div>

<div class="background-comment">
  <div class="group no-image">
    <%= form_for([@course, @post, @post.comments.build]) do |f| %>
      <%= f.text_field :content, class: "form-control", placeholder: 'Content' %>
      <%= f.submit '등록', class: "group btn-comment btn-primary"%>
    <% end %>
  </div>
</div>